{% extends "base.html" %}

{% block content %}


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter_forma_1">
  Форма 1
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter_forma_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle_forma_1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle_forma_1">{{ object.forma_1 }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">



	<h2>Форма ajax заносит в базу значения</h2>
	<form method="POST" class="my-ajax-form" data-url="/test-crudajax/save/">
		{% csrf_token %}
		{{form.as_p}}
		<input type="submit" value="submit" class="btn btn-primary" name="">
	</form>

		</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
</script>
{% endblock %}