<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter_forma_2">
  test3
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter_forma_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle_forma_2" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle_forma_2">{{ object.forma_2 }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">




			{{message}}
			<form method="POST" action ="" enctype="multipart/form-data">
				{% csrf_token %}
				<br><br>
			<div class="row">
				<div class="col-md-6 offset-md-3">
					{{email_form.from_email}}
					{{email_form.to_email}}
					{{email_form.subject}}
					{{email_form.attach}}
				<!--</div>-->
				<!--<div class="col-md-6">-->
					{{email_form.message}}
					<input type ="submit"  name = "send" value = "Отправить" class="btn btn-success">
					<input type ="reset"  name = "reset" value = "Очистить все поля" class="btn btn-danger">
				</div>


			</div>

			</form>



	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>